---
import ItemMenu from "./ItemMenu.astro";
---

<nav class="flex">
  <ul class="flex gap-4">
    <ItemMenu title="Home" link="/" />
    <ItemMenu title="About" link="#about" />
    <ItemMenu title="Experience" link="#experience" />
    <ItemMenu title="Projects" link="#projects" />
    <!-- <ItemMenu title="Showcases" link="#showcases" /> -->
    <ItemMenu title="Education" link="#education" />
    <ItemMenu title="Blog" link="#blog" />
    <!-- <ItemMenu title="Testimonials" link="#testimonials" /> -->
    <!-- <ItemMenu title="Partners" link="#partners" /> -->
    <!-- <ItemMenu title="Contact" link="#contact" /> -->
  </ul>
</nav>
