---
const { href = "#" } = Astro.props;
---

<a
  href={href}
  class=`${Astro.props.class} flex justify-center my-2 w-full h-20 text-white hover:text-orange-200 hover:scale-110 transform transition-all duration-300 ease-in-out`
>
  <slot />
</a>
