---
import Section from "@components/Section.astro";
---

<Section class="bg-slate-800">
  <section
    class="h-screen flex flex-col justify-center items-center animate-on-scroll-section"
  >
    <h2 class="text-6xl text-[16rem] font-extrabold shadow-black">
      +
      <span class="text-orange-400 tabular">15</span>
    </h2>
    <p class="text-2xl opacity-90">Years of experience</p>
    <p class="text-2xl opacity-60">in the software industry</p>
  </section>
</Section>
