---
import Section from "../components/sections./../sections/Section.astro";
---

<Section class="animate-on-scroll-section bg-gradient-to-t from-blue-500/40 to-black">
  <section class="h-screen flex flex-col justify-center items-center">
    <h2 class="text-6xl text-[16rem] font-extrabold shadow-black">
      +
      <span class="text-orange-500 tabular">15</span>
    </h2>
    <p class="text-2xl opacity-90">Years of experience</p>
    <p class="text-2xl opacity-60">in the software industry</p>
  </section>
</Section>
