---
import Section from "@components/Section.astro";
---

<Section
  class="animate-on-scroll-section bg-gradient-to-t from-blue-500 to-blue-950"
>
  <article
    class="h-full flex flex-col justify-center animate-on-scroll-section"
  >
    <h1 class="flex flex-col align-right mb-4">
      <p class="text-xl font-light mb-[-50px]">Software developer</p>
      <p class="flex text-[10rem] font-bold mt-0">
        <span class="text-blue-400">M</span>iguel
        <span class="text-blue-400">.</span>
      </p>
    </h1>
    <p class="flex-wrap text-lg opacity-70">
      Creating technological solutions that satisfy the technological needs
      <br /> of different types of clients, through the development of custom software.
    </p>
  </article>
  <picture
    class="w-full flex items-center justify-center drop-shadow-lg shadow-red-900 overflow-auto"
  >
    <img
      class="w-1/2 h-1/2 object-fit object-center z-0"
      src="assets/images/subscribe.svg"
      alt="Miguel"
    />
  </picture>
</Section>
