---
import Section from "./Section.astro";
---

<Section
  class="animate-on-scroll-section bg-gradient-to-t from-green-500/40 to-black"
>
  <section class="h-screen flex flex-col justify-center items-center">
    <h2 class="text-6xl text-[16rem] font-extrabold shadow-black">Projects</h2>
  </section>
</Section>
