---
import "@styles/animations.css";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ScrollIndicator from "@components/ScrollIndicator.astro";
import Socials from "@components/Socials.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Socials class="z-40" />
    <ScrollIndicator
      class="fixed top-[20vh] right-[5vw] w-1 h-[60vh] z-50"
      colorBar={"bg-blue-400"}
      colorBackgroundBar={"bg-blue-500/20"}
    />
    <main class="w-full h-full top-0 z-10 bg-black">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --dark-bg-color: #1a1a1a;
    --dark-text-color: #fff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
  }
</style>

<script src="@scripts/animate_on_scroll.js"></script>
